%form
  %input{:type => 'text', :name => 'input', :id => 'input'}
  %select{:id => 'method'}
    %option="word"
    %option="starts-with"
    %option="ends-with"
  %input{:type => 'submit', :id => 'submit'}
%div#result